/*Style Ritu's Bun Bun Bake Shop pages*/

/*Common Style Elements*/

    /*Page background*/
    body{
        height: 100%;
    }
    .background{
        position: fixed;
        top: 0;
        left: 0;

        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;

        background-image: url("Images/background-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45;
        z-index: -1;
    }

    /*Nav Bar*/

    .nav-bar{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }
        .left-icon{
            position: relative;
            left: 72px;
            display: inline;
        }
            .left-icon img{
                width: 50px;
                height: 50px;
            }
        .right-icons{
            position: relative;
            display: inline;
            float: right;
        }
            .right-icons img{
                width: 50px;
                height: 50px;
            }

    /*Footer*/

    .footer{
        position: fixed;
        bottom: 0;
        right: 0;
        color: black;
        font-family: 'Indie Flower', cursive;
        font-size: 25;
        z-index: 10;
    }

    /*Text Formatting*/
    h2{
        color: white;
        font-family: 'Indie Flower', cursive;
        font-size: 96;
    }
    h3{
        color: black;
        font-family: 'Indie Flower', cursive;
        font-size: 48;
    }
    h4{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 45;
    }
    h5{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 24;
    }
    h6{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 14.5;
    }
    p{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 14;
    }
    button{
        color: black;
        font-family: 'Indie Flower', cursive;
    }

/*Home Page Styling*/

    /*Shop Name*/
    .main{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    #grey-rect{
        min-width: 200px;
        width: 300px;
        height: 85%;
        background: rgba(136, 136, 119, 0.7);

    }
    #purple-rect{
        position: absolute;
        left: 20px;
        top:0;
        width:275px;
        height: 100%;
        margin: 0;
        background: rgba(138, 79, 125, 0.3);
    }
        #bun-bun{
            text-align: center;
            color: black;
            font-family: 'Homemade Apple', cursive;
            font-size: 100;
            line-height: 175px;
            margin: 0;
            margin-top: 110px;
        }
        #bake-shop{
            text-align: center;
            color: black;
            font-family: 'Italiana', serif;
            font-size: 52px;
            line-height: 100px;
            margin: 0;
        }

    /*Featured Item*/

    .specials{
        left: 300px;
        top: 0px;

    }
        .featured-image{
            width: 570px;
            height: auto;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            margin-left: 150px;
            margin-right: 200px;
        }
        .featured-text{
            width: 589px;
            margin-top: 5px;
            margin-left: 150px;
            margin-right: 200px;
            text-align: center;
        }

    /*Product Tab*/
    .product-tab-right{
        height: 800px;
        background: rgba(138, 79, 125, 0.3);
    }
        #product-tab-text h3{
            transform: rotate(-90deg);
            width: auto;
            height: auto;
        }

/*Product Page Styling*/
    .product-menu{
        float: left;
        min-height: 700px;
        background-color: grey;
    }
    .product-tab-left{
        position: absolute;
        min-width: 150px;
        height: 841px;
        left: 50px;
        top: 88px;
        background: rgba(138, 79, 125, 0.3);
    }
    .product-tab-left h3{
        position: relative;
        transform: rotate(-90deg);
        transform-origin: left bottom 0;
        float: right;
        width: 100%;
    }
    .product-items{
        position: relative;
        background-color: grey;
    }
    .product-items img{
        position: relative;
        float: left;
        opacity: 0.85;
        z-index: 0;
    }
    .product-name{
        position: relative;
        width: 400px;
        height: 350px;
        display: inline;
        left:0;
        top: 0;
        margin: 0;
        z-index: 1;
    }
    .product-name h2{
        display: inline;
        left:0;
        top: 0;
        margin: 0;
        text-align: center;
    }

/*Product Detail Page Styling*/
    .product-info-container{
        position: absolute;
        left: 60px; /*doesn't work for some reason??*/
        top: 0;
        min-width: 300px;
        width: 350px;
        height: 150%;
        margin: 0;
        background-color: rgba(138, 79, 125, 0.3);
        z-index: 2;
        display: inline-block;
    }
        .product-info-container img{
            position: relative;
            top: 100px;
            min-width: 250px;
            width: 325px;
            height: auto;
            margin: 12px;
            margin-top: 0;
            margin-bottom: 0;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        }
        .product-info-container h3{
            position: relative;
            top: 100px;
            min-width: 250px;
            width: 325px;
            height: auto;
            margin: 12px;
            margin-top: 5px;
            text-align: center;
            overflow: hidden;
        }
        .product-details-container{
            position: relative;
            top: 125px;
            min-width: 275px;
            width: 290px;
            height: 350px;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 12px;
            background-color: rgba(239, 130, 117, 0.5);
            z-index: 3;
        }
            .product-details-container h5{
                position: relative;
                margin:0;
                margin-top: 25px;
                margin-bottom: 5px;
                text-align: center;
                overflow: hidden;
            }
            .product-details-container h6{
                position: relative;
                margin:0;
                margin-bottom: 5px;
                text-align: center;
                overflow: hidden;
            }
            .product-details-container p{
                position: relative;
                margin:0;
                margin-bottom: 40px;
                text-align: center;
                overflow: hidden;
            }
    .ordering-container{
        position: relative;
        min-width: 1000px;
        width: 95%;
        height: 841px;
        padding: 15px;
        margin: 12px;
        background-color: rgba(136, 136, 119, 0.7);
        z-index: 1;
    }
        .glaze-container{
            position: relative;
            float: right;
            width: auto;
        }
            .glaze-container h2{
                margin: 0;
                text-align: center;
            }
        .qty-container{
            position: relative;
            float: right;
            margin-bottom: 15px;
        }
            .qty-container h2{
                margin: 0;
                margin-bottom: 15px;
                text-align: center;
            }
            .buttons{
                display:flex;
            }
            #qty-button{
                height: 75px;
            }

        .next-steps{
            position: relative;
            float: right;
            min-width: 785px;
            width: auto;
            margin-top: 100px;

        }
            .other-products{
                position:relative;
                width: 300px;
                margin-right: 10px;
                margin-top:50px;
                display: inline-block;
            }
            .subtotal-container{
                position: relative;
                float: right;
            }
                #subtotal{
                    font-family: 'Indie Flower', cursive;
                    font-size: 45;
                    text-align: center;
                    margin: 0;
                }
                .subtotal-container h4{
                    text-align: center;
                    margin: 0;
                    margin-bottom: 10px;
                }


    /* Format Large Buttons Text */
    .large-buttons{
        float: right;
        display: inline-block;
        font-family: 'Indie Flower', cursive;
        font-size: 45;
        text-align: center;
        border-radius: 10px;
    }
    /* Format Small Buttons Text */
    .small-buttons{
        position: relative;
        width: 200px;
        height: 100px;
        margin-left: 2%;
        float: left;
        left: 0%;
        font-size: 36;
        text-align: center;
        line-height: 110%;
        border-radius: 10px;
    }






