/* Format Page Background */
    /* Format Background Image */
    html{
        background: url("Images/background image.jpg") no-repeat center center fixed;
        background-color: grey;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    /* Format Navigation Bar */
    .nav-icon-size{
        width = "50"
        height = "50"
    }
    .left{
        float: left;
        width: 50px;
        padding: 10px;

    }
    .right{
        float: right;
        width: 50px;
        padding: 10px;
    }
        /* Format Menu Icon */
        /* Format Other Icons */

    /* Format Contact Us Footer */
    .footer{
        text-align: right;
        background-color: purple;
        color: black;
        font-family: 'Indie Flower', cursive;
        font-size: 25;
    }

/* Format Page Text */
    /* Format Shop Name Text */
    #bunbun{
        text-align: center;
        background-color: purple;
        color: black;
        font-family: 'Homemade Apple', cursive;
        font-size: 144;
    }
    #bake-shop{
        text-align: center;
        background-color: purple;
        color: black;
        font-family: 'Italiana', serif;
        font-size: 72;
    }
    h2{
        background-color: brown;
        color: white;
        font-family: 'Indie Flower', cursive;
        font-size: 96;
    }
    h3{
        color: blue;
        font-family: 'Indie Flower', cursive;
        font-size: 48;
    }
    h4{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 45;
    }
    h5{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 24;
    }
    h6{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 20;
    }
    p{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 14;
    }
        /* Format Large Buttons Text */
    button{
        color: black;
        font-family: 'Indie Flower', cursive;
    }
    .large-buttons{
        font-size: 48;
    }
    /* Format Small Buttons Text */
    .small-buttons{
        font-size: 36;
    }

    .featured-images{
        width = "589"
        height = "641"
    }




