/* Format Page Background */
    /* Format Background Image */
    body, html {
        height: 100%;
    }

    #background{
        position: fixed;
        top: 0;
        left: 0;

        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;

        background-image: url("Images/background_image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45;
        z-index: -1;

    }

    /* Format Navigation Bar */
    .nav-bar{
        width: 100%;
        overflow: visible; /*UNSURE ABOUT THIS VALUE!!!!*/
    }

    .nav-bar img{
        width: = 10px;
        height: = 1%;
    }

    .left{
        float: left;
        width: 25%;
        padding: 5px;

    }
    .left img {

    }

    .right{
        float: right;
        /*width: 25%;*/
        padding: 10px;
    }
        /* Format Menu Icon */
        /* Format Other Icons */

/* Size & Color Containers */
    .shop-name{
        position: absolute;
        width: 350px;
        height: 100%;
        left: 60px;
        top: 0px;

        background: rgba(138, 79, 125, 0.3);
    }
    #grey-rect{
        position: absolute;
        width: 410px;
        height: 841px;
        left: 30px;
        top: 88px;

        background: rgba(136, 136, 119, 0.7);
    }
    .featured-text{
        position: absolute;
        width: 587px;
        height: 83px;
        left: 607px;
        top: 812px;

        background: rgba(239, 130, 117, 0.5);
        filter: blur(7px);
    }

/* Format Page Text */
    /* Format Shop Name Text */
    #bunbun{
        text-align: center;
        color: black;
        font-family: 'Homemade Apple', cursive;
        font-size: 144;
        width: ;
    }
    #bake-shop{
        text-align: center;
        color: black;
        font-family: 'Italiana', serif;
        font-size: 72;
    }
    h2{
        background-color: brown;
        color: white;
        font-family: 'Indie Flower', cursive;
        font-size: 96;
    }
    h3{
        color: blue;
        font-family: 'Indie Flower', cursive;
        font-size: 48;
    }
    h4{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 45;
    }
    h5{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 24;
    }
    h6{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 20;
    }
    p{
        color: black;
        font-family: 'Italiana', serif;
        font-size: 14;
    }

    button{
        color: black;
        font-family: 'Indie Flower', cursive;
    }
    /* Format Large Buttons Text */
    .large-buttons{
        font-size: 48;
    }
    /* Format Small Buttons Text */
    .small-buttons{
        font-size: 36;
    }
    /* Format Contact Us Footer */
    .footer{
        text-align: right;
        background-color: purple;
        color: black;
        font-family: 'Indie Flower', cursive;
        font-size: 25;
    }
    img.featured-images{
        /*position: absolute;
        left: 607px;
        right: 159px;
        max-width: 589px;
        max-height: 641px;*/
        position: absolute;
        max-width: 40.9%;
        max-height: 62.6%;
        left: 607px;
        top: 159px;

        background: url(Images/pumpkin spice buns.png);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }




