/*BODY BACKGROUND*/
body{
    background-color: #F7EFE2;
}
body > .container-fluid {
    overflow-x: hidden;
}

/*HEADER*/
#home-icon{
    width: 40px;
    color: #009bff;
}
@media (min-width: 1000px){
  #home-icon{
    width: 4vw;
  }
}
#header-consent{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 10vw;
    color: #B3C100;
}
#header-for{
    margin-left:1vw;
    margin-right: 1vw;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3vw;
    color: #009BFF;
}
#header-kids{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 10vw;
    justify-content: center;
    color: #F25C00;
}
@media (min-width: 1200px){
    #header-consent{
        font-size: 120px;
    }
    #header-kids{
        font-size: 120px;
    }
}

/*NAVIGATION*/
.sub-header{
    padding: 5px;
    background-color: #F9A603;
}
.info-links{
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 38px;
}
.info-links a{
    color: #000;
}
p{
    color: #000100;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 34px;
    vertical-align: text-bottom;
    margin: 10px;
    margin-top: 6px;
}
@media (max-width: 360px){
    .sub-header{
        /*display: none;*/
    }
}

/*BODY CONTENT*/
.main-body{
    margin-top: 50px;
}
.module-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
}
.module-img img{
    height: 100%;
    width: 100%;
}
.module-title{
    text-align: center;
    color: #000 ;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 50px;
    margin-top: 7px;
}
