
.sub-header{
    background-color: orange;
}
#home-icon{
    justify-content: right;
}
#header-consent{
    margin-right: 10px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 400%;
}
#header-for{
    margin-left:10px;
    margin-right: 10px;
    font-family: 'Marck Script', cursive;
    font-size: 200%;
}
#header-kids{
    margin-left:10px;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 400%;
    justify-content: center;
}

.main-body{
    margin-top: 50px;
    margin-left: 10px;
}
.info-links{
    color: #009bff;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 24px;
}
#home-icon{
    margin-top: 10px;
    margin-right: 10px;
    justify-content: right;
}


h1{
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
}
h2{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}
p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
