
.sub-header{
    background-color: orange;
}
#home-icon{
    justify-content: right;
}
#header-consent{
    font-family: 'Cabin Sketch', cursive;
    font-size: 10vw;
}
#header-for{
    margin-left:7px;
    margin-right: 10px;
    font-family: 'Marck Script', cursive;
    font-size: 5vw;
}
#header-kids{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 7vw;
    justify-content: center;
}
@media (min-width: 1200px){
    #header-consent{
        font-size: 120px;
    }
    #header-kids{
        font-size: 120px;
    }
}
.info-links{
    color: #009bff;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 24px;
}
.main-body{
    margin-top: 50px;
}

.module-img{
    background-color: grey;
    width: 100%;
    height: 300px;
}

.module-title{
    text-align: center;
    color: #009bff;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 50px;
}
