
.header-section{
    background-color: orange;
}

.nav-link{

}

.main-body{
    justify-content: center;
}

.module-img{
    background-color: grey;
    width: 100%;
    height: 300px;
}

.module-title{

}