body{
    background-color: #F7EFE2;
}
body > .container-fluid {
    overflow-x: hidden;
}
.sub-header{
    background-color: #F9A603;
}
#home-icon{
    width: 50px;
    color: #009bff;
}

@media (min-width: 1000px){
  #home-icon{
    width: 4vw;
  }
}

}
#header-consent{
    font-family: 'Cabin Sketch', cursive;
    font-size: 10vw;
    color: #B3C100;
}
#header-for{
    margin-left:7px;
    margin-right: 10px;
    font-family: 'Marck Script', cursive;
    font-size: 4vw;
    color: #000;
}
#header-kids{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 7vw;
    justify-content: center;
    color: #F25C00;
}
@media (min-width: 1200px){
    #header-consent{
        font-size: 120px;
    }
    #header-kids{
        font-size: 120px;
    }
}
.info-links{
    color: #009bff;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 34px;
}

.info-links a{
    color: #000;
}

.nav-border{
    height: 25px;
    width:100%;
    background-color: #F9A603;
}
.main-body{
    margin-top: 50px;
}

.row{
    justify-content: center;
}

.animation{
    width: 100%;
    height: 300px;
}

.page-end button{
  background-color: transparent;
  border: #B3C100;
}
.page-end a{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    margin: 30px auto;
    color: #F25C00;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 52px;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 500px){
    p{
      font-size: 32px;
    }
}

button{
    width:100%;
    justify-content: center;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 50px;
}

.marsh-row {
    margin: 60px 0;
}
.marshamallow-holder {
    width: 50vh;
    height: auto;
    display: block;
    margin: 30px auto;
}

.marshmallow-outline {
    stroke-width: 1;
    stroke-dasharray: 690;
    stroke-dashoffset: 700;
    animation: dash 7s linear forwards infinite;
}
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .danger-symbol {
      animation: appear-disappear 2s linear forwards infinite;
  }

  @keyframes appear-disappear {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 1;
      }
    100% {
        opacity: 0;
    }
  }

  .marsh-two-arm {
      transform-origin: 112.5px;
      animation: arm-move 4s linear forwards infinite;
  }

  @keyframes arm-move {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(90deg);
      }
    100% {
        transform: rotateZ(0deg);
    }
  }

  .consent svg{
    margin-top: 100px;
    margin-bottom: 15px;
  }

  .consent-border{
    stroke-width: 1;
    stroke-dasharray: 500;
    stroke-dashoffset: 450;
    animation: border-dash 8s linear forwards infinite;
  }

  @keyframes border-dash{
    to {
      stroke-dashoffset: 0;
    }
  }

  .permission{
      animation: color-change 5s linear forwards infinite;
  }

  @keyframes color-change {
    20% {
      stroke: #F25C00;
    }
    50% {
      stroke: #F9A603
    }
    80% {
      stroke: #F25C00;
    }
  }

  .activity img{
    max-height: 30vw;
  }
  @media(max-width: 800px){
    .activity img{
      max-height: 40vw;
    }
  }
  @media(max-width: 500px){
    .activity img{
      max-height: 70vw;
    }
  }
  #ylw-str {
    transform-origin: 95px;
    animation: str-rotate 20s linear forwards infinite;
  }

  @keyframes str-rotate {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
      }
    100% {
        transform: rotateZ(0deg);
    }
  }

    #org-str {
    animation: str-blink 4s linear forwards infinite;
  }

  @keyframes str-blink {
    0% {
      opacity: 0.5;
    }
    50% {
        opacity: 1;
      }
    100% {
        opacity: 0.5;
    }
  }

  svg{
    max-width: 100%;
  }
  .end svg{
    margin-top: 100px;
  }

  @media (min-width: 1200px){
    .size-lg{
      max-height: 30vw;
      width: auto;
      margin-top: 15px;
    }
  }  /*for sizing permission = consent & end star svg*/
